.boards_container {width: 100%;}

.pages_list_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.pages_list {width: fit-content;}
.pages_list_li {display: inline; color: gray;}
.pages_list_square {color: gray;}
.pages_list_num {color: olive;}
.pages_list_li:hover {
  .pages_list_num {color: rgb(92, 46, 2);}
  .pages_list_square {color: rgb(20, 92, 2);}
}


.thread_section {
  margin-bottom: 14px;
  border: 1px solid rgb(65, 248, 65);
  border-style: none none solid none;
}
.thread_header {
  width: fit-content;
  background-color: rgb(136, 221, 136);
  border: 1px solid rgb(117, 255, 117);
}
.thread_header * {
  display: inline;
  width: fit-content;
  padding: 0 6px 0 1px;
}

.post {
  margin-bottom: 10px;
  width: fit-content;
  background-color: rgb(218, 240, 214);
}
.post_header {
  width: fit-content;
  margin-bottom: 4px;
}
.post_header * {
  display: inline;
  margin: 0 6px 0 2px;
}
.post_theme {
  color: rgb(153, 41, 0);
}
.post_author {
  color: green;
}
.post_content {
  width: fit-content;
  padding: 10px 10px 12px 10px;
}
.post_content * {
  display: inline;
}
.post_text {
  padding-left: 18px;
}

.create_new_thread {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
