// TODO refactor all sizes

$min_width: 340px;

.boards_main {min-width: $min_width;}
.boards_container {width: 100%;}

// <list of pages>
.pages_list_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.pages_list {width: fit-content;}
.pages_list_li {display: inline; color: gray;}
.pages_list_square {color: gray;}
.pages_list_num {color: olive;}
.pages_list_li:hover {
  .pages_list_num {color: rgb(92, 46, 2);}
  .pages_list_square {color: rgb(20, 92, 2);}
}
// </list of pages>

// <forms>
.create_new_thread {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 14px 0 20px 0;

  //border: 1px solid red;
}
.thread_form {
  width: 60%;
  min-width: 350px;
  border-bottom: 1px solid green;
}
.form_theme {
  padding: 1px 4px;
  width: 200px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 1%;
  font-size: 15px;
}
.form_post {
  width: 60px;
  height: 25px;
  background-color: rgb(205, 221, 136);
  border: 1px solid rgb(205, 221, 136);
  border-radius: 2%;
  font-size: 15px;
}
.form_post:hover {
  border: 1px solid green;
  background-color: rgb(163, 221, 136);
  color: green;
  cursor: pointer;
}
.form_text {
  width: 90%;
  min-width: 350px;
  max-width: 800px;
  height: 100px;
  padding: 6px 10px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 1%;
}
.form_file {
  margin-bottom: 5px;
  line-height: 0;
  font-size: 9px;
}
.form_password {
  padding: 1px 4px;
  width: 200px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 1%;
  font-size: 15px;
}
.thread_help {
  margin: 8px 0;
  font-size: 10px;
}
.thread_help * {
  line-height: 1;
}
.thread_help_h * {
  font-size: 14px;
}
.thread_help_t {
  margin-left: 11px;
  list-style: circle;
  font-size: 12px;
}
// </forms>

// <thread>
.thread_section {
  width: 100%;
  min-width: $min_width;
  margin-bottom: 30px;
  border: 1px solid rgb(65, 248, 65);
  border-style: none none solid none;
}
.thread_header {
  width: fit-content;
  background-color: rgb(136, 221, 136);
  border: 1px solid rgb(117, 255, 117);
}
.thread_header * {
  display: inline;
  width: fit-content;
  padding: 0 6px 0 1px;
}

.expand{
  font-size: 15px;
  color: rgb(85, 85, 85);
  margin-bottom: 9px;
  margin-left: 10px;
}
.expand > a {font-size: 15px; color: rgb(59, 61, 97);}
.expand > a:hover {color: rgb(60, 65, 148);}
// </thread>

// <post>
.post {
  overflow: hidden;

  width: fit-content;
  height: fit-content;
  min-width: $min_width;
  margin-bottom: 9px;

  background-color: rgb(218, 240, 214);
  border-radius: 2%;
}
#op {
  background-color: rgb(198, 238, 198);
  border-radius: 0 2% 2% 2%;
}

.post_header {
  width: fit-content;
  min-width: $min_width;
  padding: 0 6px 0 2px;
}
.post_header * {display: inline; width: fit-content;}
.post_theme {color: orangered}
.post_author {color: green;}
.post_date {font-size: 15px;}
.post_id {color: olive;}

.post_content {
  width: auto;
  min-width: $min_width;
}

//  <files>
.post_files_container {
  float: left;
  margin-right: 10px;
}
.post_files_list {
  display: flex;
  flex-flow: row wrap;
}
.post_file_container {
  flex: 0 0 fit-content;
  padding: 2px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.post_file_container * {line-height: 1; padding-bottom: 2px;}
.post_file_name {font-size: 10px; color: rgb(97, 97, 97);}
.post_file_name, .post_file_img {flex: 0 0 fit-content; height: fit-content;}
.post_file_img > img {max-width: 200px; max-height: 180px;}
//  </files>

.post_text {
  min-width: $min_width;
  padding: 4px 4px 10px 10px;
  margin-left: 10px;
}
@media (max-width: 900px) {.post_text {max-width: 600px;}} // TODO more flexability
// </post>
