#index_main {padding: 0;}
#index_img {
  display: flex;
  justify-content: center;
  width: 100%;
}
#kei {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 1%;
  padding: 2px;
}
