$color_text_normal: black;
$color_background: rgb(238, 255, 238);
$color_header: rgb(190, 255, 179);
$with_main: 1000px;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  padding: 0px;

  color: $color_text_normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}
html, body {
  width: 100%;
  height: auto;
  min-height: 100% !important;
  background-color: $color_background;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header, main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: $with_main;
}
main {padding: 6px 12px;}
header {padding: 8px 0;}
#header_text {
  padding: 4px 16px 4px 8px;
  border: 1px solid $color_header;
  border-radius: 0 16% 16% 0;
  background-color: $color_header;
}

img {max-width: 100%; height: auto;}
ul {list-style-type: none;}
a {text-decoration: none;}
h6 {font-size: 17px;}
h5 {font-size: 18px;}
h4 {font-size: 19px;}
h3 {font-size: 20px;}
h2 {font-size: 21px;}
h1 {font-size: 22px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', sans-serif;}
