$color_text_normal: black;
$color_background: white;
$with_main: 800px;

* {
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  padding: 0px;

  color: $color_text_normal;
  //font-family: 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
html, body {
  width: 100%;
  height: auto;
  min-height: 100% !important;
  background-color: $color_background;
}
html {
  border: 1px solid blue;
}
body {
  border: 1px solid red;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  border: 1px solid green;
}

header, main {
  width: $with_main;
}

main {
  border: 1px solid orange;
}

ul {
  list-style-type: none
}
a {
  text-decoration: none;
}
