[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "2"
Flask-Assets = "2"
pyScss = "1"
Flask-Session = "0"
Flask-SQLAlchemy = "1"

[dev-packages]

[requires]
python_version = "3"
