<form action='{{ base_url }}' method='POST' enctype='multipart/form-data'>
  {{ form_delete.csrf_token }}
  <ul id='delete_post_fields'>
    <li>{{ form_delete.posts(placeholder="Posts to delete: 1, 2, 3", id='delete_post_input') }}</li>
    <li {% if session['user'] %}class='password_hidden'{% endif %}>
      {{ form_delete.password(placeholder="Password", id='delete_post_password') }}
    </li>
    <li>{{ form_delete.submit(value="Delete", class='form_post', id='delete_post_submit') }}</li>
  </ul>
  <ul class='form_help'>
    {% for field, errors in form_delete.errors.items() %}
      {% for error in errors %}
        <li class='posting_error'>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
</form>
