<footer>
  <nav>
    <ul id='nav_ul'>

      <li class='nav_li'>
        <a href="/">
          <div class='nav_button'>/</div>
        </a>
      </li>
      <li class='nav_li'>
        <a href="/brotherhood/">
          <div class='nav_button'>/b/</div>
        </a>
      </li>
      <li class='nav_li'>
        <a href="/animation/">
          <div class='nav_button'>/a/</div>
        </a>
      </li>
      <li class='nav_li'>
        <a href="/university/">
          <div class='nav_button'>/u/</div>
        </a>
      </li>

    </ul>
  </nav>

  <section>
    <ul id='login_ul'>
      <li class='login_li'>anonymus</li>
      <li class='login_li'><a href="/login">introduce yourself</a></li>
    </ul>
  </section>
</footer>
