<div class='pages_list_container'>
  <ul class='pages_list'>
    {% for p in pages %}
      <li class='pages_list_li'>
        {% if p != page %} <a href="{{ base_url }}page:{{ p }}/"> {% endif %}
          <span {% if p == page %} class='pages_current' {% else %} class='pages_list_square' {% endif %}>[</span>
          <span {% if p == page %} class='pages_current' {% else %} class='pages_list_num' {% endif %}>{{ p }}</span>
          <span {% if p == page %} class='pages_current' {% else %} class='pages_list_square' {% endif %}>]</span>
        {% if p != page %} </a> {% endif %}
      </li>
    {% endfor %}
    <li class='pages_list_li'>{{ thread_count }} total threads</li>
  </ul>
</div>
