@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); 
  * {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 22px; }

    html, body {
      width: 100%;
      height: auto;
      min-height: 100% !important;
      background-color: #efe; }

      body {
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }

        header, main {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          max-width: 900px; }

          main {
            padding: 6px 12px 90px 12px; }

            header {
              padding: 8px 0; }

              #header_text {
                padding: 4px 16px 4px 8px;
                border: 1px solid #beffb3;
                border-radius: 0 16% 16% 0;
                background-color: #beffb3; }

                img {
                  max-width: 100%;
                  height: auto; }

                  ul {
                    list-style-type: none; }

                    a {
                      text-decoration: none; }

                      h6 {
                        font-size: 17px; }

                        h5 {
                          font-size: 18px; }

                          h4 {
                            font-size: 19px; }

                            h3 {
                              font-size: 20px; }

                              h2 {
                                font-size: 21px; }

                                h1 {
                                  font-size: 22px; }

                                  h1, h2, h3, h4, h5, h6 {
                                    font-family: 'Raleway', sans-serif; }

footer {
  position: fixed;
  bottom: 0; }

  #nav_ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }

    .nav_li {
      width: fit-content; }

      .nav_button {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        width: 32px;
        height: 32px;
        padding: 1px;
        margin: 1px;
        border: 1px solid lightsteelblue;
        border-radius: 20%;
        background-color: lightcyan;
        color: #2a2a2c; }

        .nav_button:hover, .nav_button:focus {
          color: black;
          background-color: lightskyblue; }

          #login_ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            width: 300px;
            padding: 6px 0;
            border: 1px solid lightsteelblue;
            border-radius: 30px 30px 0 0;
            border-bottom: none;
            background-color: lightcyan; }

            .login_li, .login_li > a {
              font-size: 12px; }

              .login_li > a:hover {
                text-decoration: underline; }

                .login_li {
                  padding: 0 6px; }

#index_main {
  padding: 0; }

  #index_img {
    display: flex;
    justify-content: center;
    width: 100%; }

    #kei {
      background-color: whitesmoke;
      border: 1px solid whitesmoke;
      border-radius: 1%;
      padding: 2px; }

.login_main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-width: 360px; }

  .login_figure {
    border: 1px solid green; }

    .login_container {
      width: 350px; }

      .login_form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%; }

        .login_input {
          width: 100%;
          padding: 2px;
          margin-bottom: 6px;
          border: 2px solid lightgreen;
          border-radius: 3%; }

          .login_input:focus {
            outline: 2px solid #4bb94b; }

            .login_submit {
              width: 160px;
              margin-top: 4px;
              margin-bottom: 10px;
              padding: 4px 0;
              background-color: #efffab;
              border: 1px solid #efffab;
              border-radius: 10%;
              color: dimgray; }

              .login_submit:hover, .login_submit:focus {
                background-color: #eaff8a;
                border: 1px solid #e0fa6c;
                color: black;
                outline: none;
                cursor: pointer; }

                .login_link:hover, .login_link:focus {
                  color: #415200; }

                  .login_list > li {
                    margin-bottom: 6px; }

                    #anon_submit {
                      background-color: #efe;
                      color: #035200;
                      text-decoration: underline gray; }

                      #anon_submit:hover, #anon_submit:focus {
                        color: #299101;
                        cursor: pointer; }

.boards_main {
  min-width: 340px; }

  .boards_container {
    width: 100%; }

    .pages_list_container {
      display: flex;
      justify-content: flex-end;
      width: 100%; }

      .pages_list {
        width: fit-content; }

        .pages_list_li {
          display: inline;
          color: gray; }

          .pages_list_square {
            color: gray; }

            .pages_list_num {
              color: olive; }

              .pages_list_li:hover .pages_list_num {
                color: #5c2e02; }
                .pages_list_li:hover .pages_list_square {
                  color: #145c02; }

.main_form_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 14px 0 20px 0; }

  .main_form {
    width: 60%;
    min-width: 350px;
    border-bottom: 1px solid green; }

    .form_theme {
      padding: 1px 4px;
      width: 200px;
      height: 25px;
      border: 1px solid gray;
      border-radius: 1%;
      font-size: 15px; }

      .form_post {
        width: 60px;
        height: 25px;
        background-color: #cddd88;
        border: 1px solid #cddd88;
        border-radius: 2%;
        font-size: 15px; }

        .form_post:hover {
          border: 1px solid green;
          background-color: #a3dd88;
          color: green;
          cursor: pointer; }

          .form_text {
            width: 90%;
            min-width: 350px;
            max-width: 800px;
            height: 100px;
            padding: 6px 10px;
            margin-top: 5px;
            border: 1px solid gray;
            border-radius: 1%; }

            .form_file {
              margin-bottom: 5px;
              line-height: 0;
              font-size: 9px; }

              .form_password {
                padding: 1px 4px;
                width: 200px;
                height: 25px;
                border: 1px solid gray;
                border-radius: 1%;
                font-size: 15px; }

                .form_help {
                  margin: 8px 0;
                  font-size: 10px; }

                  .form_help * {
                    line-height: 1; }

                    .form_help_h * {
                      font-size: 14px; }

                      .form_help_t {
                        margin-left: 11px;
                        list-style: circle;
                        font-size: 12px; }

                        .posting_error {
                          margin-top: 6px;
                          font-size: 14px;
                          color: red; }

                          .password_hidden {
                            display: none; }

                            .thread_section {
                              width: 100%;
                              min-width: 340px;
                              margin-bottom: 30px;
                              border: 1px solid #41f841;
                              border-style: none none solid none; }

                              .thread_header {
                                width: fit-content;
                                background-color: #8d8;
                                border: 1px solid #75ff75; }

                                .thread_header * {
                                  display: inline;
                                  width: fit-content;
                                  padding: 0 6px 0 1px; }

                                  .expand {
                                    font-size: 15px;
                                    color: #555;
                                    margin-bottom: 9px;
                                    margin-left: 10px; }

                                    .expand > a {
                                      font-size: 15px;
                                      color: #3b3d61; }

                                      .expand > a:hover {
                                        color: #3c4194; }

                                        .post {
                                          overflow: hidden;
                                          width: fit-content;
                                          height: fit-content;
                                          min-width: 340px;
                                          margin-bottom: 9px;
                                          background-color: #daf0d6;
                                          border-radius: 2%; }

                                          #op {
                                            background-color: #c6eec6;
                                            border-radius: 0 2% 2% 2%; }

                                            .post_header {
                                              width: fit-content;
                                              min-width: 340px;
                                              padding: 0 6px 0 2px; }

                                              .post_header * {
                                                display: inline;
                                                width: fit-content; }

                                                .post_theme {
                                                  color: orangered; }

                                                  .post_author {
                                                    color: green; }

                                                    .post_date {
                                                      font-size: 15px; }

                                                      .post_id {
                                                        color: olive; }

                                                        .post_content {
                                                          width: auto;
                                                          min-width: 340px; }

                                                          .post_files_container {
                                                            float: left;
                                                            margin-right: 10px; }

                                                            .post_files_list {
                                                              display: flex;
                                                              flex-flow: row wrap; }

                                                              .post_file_container {
                                                                flex: 0 0 fit-content;
                                                                padding: 2px;
                                                                display: flex;
                                                                flex-flow: column nowrap;
                                                                align-items: center; }

                                                                .post_file_container * {
                                                                  line-height: 1;
                                                                  padding-bottom: 2px; }

                                                                  .post_file_name {
                                                                    font-size: 10px;
                                                                    color: #616161; }

                                                                    .post_file_name, .post_file_img {
                                                                      flex: 0 0 fit-content;
                                                                      height: fit-content; }

                                                                      .post_file_img > img {
                                                                        max-width: 200px;
                                                                        max-height: 180px; }

                                                                        .post_text {
                                                                          min-width: 340px;
                                                                          padding: 4px 4px 10px 10px;
                                                                          margin-left: 10px; }

                                                                          @media (max-width: 900px) {
                                                                            .post_text {
                                                                              max-width: 600px;   }
}
