{% extends "/layouts/layout.html" %}

{% block title %}{{ short_name }}{% endblock %}

{% block header %}{{ long_name | capitalize }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block main %}
  <main class='boards_main'>

    <div class='boards_container'>

      {% include "/layouts/list_of_pages.html" %}

      <section class='create_new_thread'>
        <form action='{{ base_url }}' method='POST' enctype='multipart/form-data' class='thread_form'>
          {{ form_thread.csrf_token }}
          <ul>
            <li>
              <span>{{ form_thread.theme(placeholder="Theme", class='form_theme') }}</span>
              <span>{{ form_thread.submit(value="Post", class='form_post') }}</span>
            </li>
            <li>{{ form_thread.text(placeholder="Start a new thread", class='form_text') }}</li>
            <li>{{ form_thread.file1(class='form_file') }}</li>
            <li>{{ form_thread.file2(class='form_file') }}</li>
            <li>{{ form_thread.file3(class='form_file') }}</li>
            <li>{{ form_thread.password(placeholder="Password", class='form_password') }}</li>

            <div class='thread_help'>
              <li class='thread_help_h'><h6>Help</h6></li>
              <li class='thread_help_t'>both theme and password are optional</li>
              <li class='thread_help_t'>theme length is up to {{ theme_max }} symbols</li>
              <li class='thread_help_t'>password is up to {{ pass_max }} symbols</li>
              <li class='thread_help_t'>file size must be less than {{ filesize }}MB</li>
              {% for field, errors in form_thread.errors.items() %}
                {% for error in errors %}
                  <li class='thread_error'>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </div>
          </ul>
        </form>
      </section>

      {% for thread in threads %}
        <section class='thread_section'>

          <div class='thread_header'>
            <div>{% if thread.archivated %}archive{% else %}alive{% endif %}</div>
            <div>post count: {{ thread.post_count }}</div>
          </div>

          {% for post in thread.posts %}
            <article class='post' {% if loop.index == 1 %}id='op'{% endif %}>

              <div class='post_header'>
                <h6 class='post_theme'>{% if post.theme %}{{ post.theme }}{% endif %}</h6>
                <span class='post_author'>{% if post.author %}{{ post.author }}{% else %}Anonymous{% endif %}</span>
                <span class='post_date'>{{ post.date }}</span>
                <span class='post_id'>#{{ post.id }}</span>
              </div>

              <div class='post_content'>

                <div class='post_files_container'>
                  <aside class='post_files_list'>
                    {% for file in post.files %}
                      <figure class='post_file_container'>
                        <div class='post_file_img'><img src="{{ file.path }}{{ file.name }}"></div>
                        <figcaption class='post_file_name'>{{ file.name }}</figcaption>
                      </figure>
                    {% endfor %}
                  </aside>
                </div>

                <p class='post_text'>{{ post.text }}</p>

              </div>

            </article>

            {% if loop.index == 1 and thread.hidden_posts %}
              <div class='expand'>{{ thread.hidden_posts }} posts are omitted,
                <a href="?">expand thread ⮒</a></div>
            {% endif %}

          {% endfor %}

        </section>
      {% endfor %}

      {% include "/layouts/list_of_pages.html" %}

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
