{% extends "/layouts/layout.html" %}

{% block title %}forum/{{ short_name }}/{% endblock %}

{% block header %}{{ long_name | capitalize }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block main %}
  <main class='boards_main'>

    <div class='boards_container'>

      {% include "/layouts/list_of_pages.html" %}

      {% include "/layouts/main_posting_form.html" %}

      {% for thread in threads %}
        <section class='thread_section'>

          <div class='thread_header'>
            <div>{{ thread.id }}</div>
            <div>{% if thread.archivated %}<img src="/static/images/archive.ico">{% else %}alive{% endif %}</div>
            <div>post count: {{ thread.post_count }}</div>
          </div>

          {% for post in thread.posts %}
            <article class='post' {% if loop.index == 1 %}id='op'{% endif %}>

              <div class='post_header'>
                <h6 class='post_theme'>{% if post.theme %}{{ post.theme }}{% endif %}</h6>
                <span class='post_author'>{% if post.author %}{{ post.author }}{% else %}Anonymous{% endif %}</span>
                <span class='post_date'>{{ post.date }}</span>
                <span class='post_id'>#{{ post.id }}</span>
              </div>

              <div class='post_content'>

                <div class='post_files_container'>
                  <aside class='post_files_list'>
                    {% for file in post.files %}
                      <figure class='post_file_container'>
                        <div class='post_file_img'><img src="{{ file.path }}{{ file.name }}"></div>
                        <figcaption class='post_file_name'>{{ file.name }}</figcaption>
                      </figure>
                    {% endfor %}
                  </aside>
                </div>

                <p class='post_text'>{{ post.text }}</p>

              </div>

            </article>

            {% if loop.index == 1 %}
              <div class='expand'>
                {% if thread.hidden_posts %}
                  {{ thread.hidden_posts }} posts are omitted,
                {% endif %}
                <a href="{{ base_url }}thread:{{ thread.id }}/">expand thread ⮒</a>
              </div>
            {% endif %}

          {% endfor %}

        </section>
      {% endfor %}

      {% include "/layouts/delete_posts_form.html" %}

      {% include "/layouts/list_of_pages.html" %}

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
