{% extends "/layouts/layout.html" %}

{% block title %}Forum{% endblock %}

{% block header %}Hello{% endblock %}
{% block description %}my little project{% endblock %}

{% block main %}
  <main id='index_main'>
    <figure id='index_img'>
      <img  srcset="/static/images/kei_260.jpg 260w,
                    /static/images/kei_360.jpg 360w,
                    /static/images/kei_460.jpg 460w,
                    /static/images/kei_560.jpg 560w,
                    /static/images/kei.jpg 660w"
            sizes="(max-width: 360px) 260px,
                   (max-width: 460px) 360px,
                   (max-width: 560px) 460px,
                   (max-width: 660px) 560px,
                   660px"
            src="/static/images/kei.jpg"
            alt="hello image"
            id="kei">
    </figure>
  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
