{% extends "/layouts/layout.html" %}

{% block title %}Introduction{% endblock %}

{% block header %}Login Page{% endblock %}
{% block description %}introduce yourself to the forum{% endblock %}

{% block main %}
  <main class='login_main'>

    <figure class='login_figure'>
      pic <img>
    </figure>

    <div class='login_container'>

      {% if form %}
        <form action='/{{ request.url_rule.endpoint }}' method='POST' class='login_form'>
          {{ form.csrf_token }}
          {{ form.name(placeholder="Name", autofocus=True, pattern=usr_pattern, class='login_input') }}
          {{ form.password(placeholder="Password", class='login_input') }}
          {{ form.submit(class='login_submit') }}
        </form>
      {% endif %}

      <ul class='login_list'>
        {% if form %}
          {% for field, errors in form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        {% endif %}

        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}

        {% if form %}
          <li><a href="/register" class='login_link'>Register a new name ⮒</a></li>
        {% endif %}
      </ul>

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
