{% extends "/layouts/layout.html" %}

{% block title %}Introduction{% endblock %}

{% block header %}Login Page{% endblock %}
{% block description %}introduce yourself to the forum{% endblock %}

{% block main %}
  <main class='login_main'>

    <figure class='login_figure'>
      pic <img>
    </figure>

    <div class='login_container'>
      {% include "/layouts/login_form.html" %}
      <ul class='login_list'>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
        {% if form %}
          <li><a href="/register" class='login_link'>Register a new name ⮒</a></li>
        {% endif %}
      </ul>
    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
