{% extends "/layouts/layout.html" %}

{% block title %}{{ session.user.name }}{% endblock %}

{% block header %}{{ session.user.name }}{% endblock %}
{% block description %}personal page{% endblock %}

{% block main %}
  <main class='login_main'>

    <figure class='login_figure'>
      pic <img>
    </figure>

    <div class='login_container'>

      {% if form %}
        <form action="/user:{{ session.user.name }}" method='POST' class='login_form'>
          {{ form.csrf_token }}
          {{ form.old_password(placeholder="Old password", autofocus=True, class='login_input') }}
          {{ form.new_password(placeholder="New password", class='login_input') }}
          {{ form.confirmation(placeholder="Repeat password", class='login_input') }}
          {{ form.submit(class='login_submit') }}
        </form>
      {% endif %}

      <ul class='login_list'>
        {% if form %}
          <li><h6>Help</h6></li>
          <li>&nbsp;&nbsp;from {{ pass_min }} to {{ pass_max }} unicode symbols, no spaces</li>

          {% for field, errors in form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        {% endif %}

        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
