{% extends "/layouts/layout.html" %}

{% block title %}Registration{% endblock %}

{% block header %}Sign up{% endblock %}
{% block description %}register a new name on the forum{% endblock %}

{% block main %}
  <main class='login_main'>

    <figure class='login_figure'>
      pic <img>
    </figure>

    <div class='login_container'>

      {% if form %}
        <form action='/{{ request.url_rule.endpoint }}' method='POST' class='login_form'>
          {{ form.csrf_token }}
          {{ form.name(placeholder="Name", autofocus=True, pattern=usr_pattern, class='login_input') }}
          {{ form.password(placeholder="Password", class='login_input') }}
          {{ form.confirmation(placeholder="Repeat password", class='login_input') }}
          {{ form.submit(class='login_submit') }}
        </form>
      {% endif %}

      <ul class='login_list'>
        {% if form %}
          <li><h6>Help</h6></li>
          <li>&nbsp;&nbsp;no spaces</li>
          <li>&nbsp;&nbsp;username: from {{ user_min }} to {{ user_max }} characters;<br>
              &nbsp;&nbsp;letters, numbers, underscore and minus symbols</li>
          <li>&nbsp;&nbsp;password: from {{ pass_min }} to {{ pass_max }} unicode symbols</li>

          {% for field, errors in form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        {% endif %}

        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}

        {% if form %}
          <li><a href="/introduction" class='login_link'>Back to the login page ⮒</a></li>
        {% endif %}
      </ul>

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
