{% extends "/layouts/layout.html" %}

{% block title %}Registration{% endblock %}

{% block header %}Sign up{% endblock %}
{% block description %}register a new name on the forum{% endblock %}

{% block main %}
  <main class='login_main'>

    <figure class='login_figure'>
      pic <img>
    </figure>

    <div class='login_container'>
      {% include "/layouts/login_form.html" %}
      <ul class='login_list'>
        {% if form %}
          <li><h6>Help</h6></li>
          <li>&nbsp;&nbsp;username: from {{ user_min }} to {{ user_max }} characters;<br>&nbsp;&nbsp;letters, numbers, underscore and minus symbols</li>
          <li>&nbsp;&nbsp;password: from {{ pass_min }} to {{ pass_max }} unicode symbols</li>
          <li><a href="/introduction" class='login_link'>Back to the login page ⮒</a></li>
        {% endif %}
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>

    </div>

  </main>
{% endblock %}

{% block footer %}
  {% include "/layouts/footer.html" %}
{% endblock %}
